<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='tasks && tasks.length'>
                <thead>
                    <tr>
                        <th>TaskID</th>
                        <th>FarmLabel</th>
                        <th>State</th>
                        <th>Progress</th>
                        <th>LastProgressUpdate</th>
                        <th>CompletedAt</th>
                        <th>ExecutionTime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let task of filteredtasks'>
                        <td><a [routerLink]="['/tasks', task.taskId]">
                                {{ task.taskId }}
                            </a>
						</td>
                        <td>{{ task.farmLabel }}</td>
                        <td>{{ task.state }}</td>
                        <td>{{ task.Progress }}</td>
                        <td>{{ task.lastProgressUpdate }}</td>
                        <td>{{ task.completedAt }}</td>
                        <td>{{ task.executionTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>